body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999999999999999999;
    background-color: rgba(0, 0, 0, 0.6); /* Add a semi-transparent background */
    transition: opacity 0.3s ease;
    opacity: 1;
    pointer-events: auto;

}

.overlay.active {
    visibility: visible;
}

.head-modal {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    //background-color: #06367a;
    background-image: url("/public/wallet-images/walletbackground.jpg");
    background-size: cover;
    padding: 14px 48px;
    color: white;
}

.head-modal h3 {
    text-transform: uppercase;
    font-weight: bold;
    display: inline;
}


.modal-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f1f1f1;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 600px;
    min-width: 300px;


    /*opacity: 0;*/
    /*transform: translate(-50%, -50%) scale(0.8);*/
    /*visibility: hidden;*/
}

/*.modal-wrap.active {*/
/*    !* Apply transitioned styles *!*/
/*    opacity: 1;*/
/*    transform: translate(-50%, -50%) scale(1);*/
/*    transition: opacity 0.2s, transform 0.2s, visibility 0.2s;*/
/*    visibility: visible;*/
/*}*/

.modal-content {
    /*line-height: 1.4;*/
    padding: 14px 48px;
}



.close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 7px;
    cursor: pointer;
}

.aligned {
    text-align: center;
}

.margin-auto {
    margin: auto;
}

.label {
    display: block;
}

input {
    display: block;
    padding: 5px 10px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid lightgrey;
}

textarea {
    width: 100%;
    resize: none;
    border-radius: 3px;
    border: 1px solid lightgrey;
    padding: 5px 10px;
}

input:focus, textarea:focus {
    outline-color: cornflowerblue;
}

.submit-btn {
    position: relative;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    //background-color: white;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    width: 30%;
    //clip-path: polygon(100% 0, 100% 75%, 95% 100%, 0 100%, 0 0);
    background: linear-gradient(to right, #06367a, #06367a);
    margin-top: 15px;
}

/*ADD & UPDATE WALLET MODAL*/
.add-wallet {
    border-radius: 10px;
    padding: 5px 10px;
    display: inline;
    background-color: #06367a;
    border: none;
    color: #fff;
    transition: 0.3s;
    font-weight: 600;
}

.add-wallet:hover {
    //border: 1px white solid;
    //color: blue;
    //box-shadow: 0 0 15px #6367ef;

}

.add-wallet-input input {
    height: 38px;
}


/* ADD & UPDATE RECORD MODAL*/

.category-option {
    display: flex;
    align-items: center;
    gap: 10px;
}

.record-textarea {
    height: 85px;

}

.record-modal {
    width: 45% !important;
}

@media (max-width: 768px) {
    .record-modal {
        width: 80%;
    }
}

/* DELETE WALLET MODAL on dashboard.js */

.modal-delete-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 25px;
}

.modal-delete-content {
    padding: 20px 25px;
}

.modal-delete-content-inside {
    display: flex;
    align-items: center;
}

.modal-delete-text {
    padding-left: 35px;

}

.modal-delete-text p {
    margin: 0;
}


.cancel-btn, .delete-btn {
    display: inline;
    border: none;
    padding: 5px 25px 5px 25px;
    border-radius: 7px;
}

.delete-btn {
    background-color: red;
    color: white;
}

.x-icon {
    transform: scale(3.3) !important;
    color: #D93936 !important;
    padding: 0 15px !important;
    /*margin-top: 20px !important;*/
}





